/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page styling (non-Meyer reset) starts below */
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    --X-transform-content: 0%;
    overflow-x: hidden;
    /* background-image: url('https://images.unsplash.com/photo-1630443876697-e0d2faac7b51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */

}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    position: relative;
}

/* Header and nav styling */
header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

header #logo {
    font-family: 'Ms Madi', fantasy;
    font-style: italic;
    font-size: 3em;
    margin: 20px;
    color: whitesmoke;
}

nav {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;;
}

nav .nav-link {
    width: 80px;
    font-size: 1.2em;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    transition: 500ms;
}
nav .nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 2px whitesmoke;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
nav .nav-link:hover {
    transform: translateY(-10%);
}
nav .nav-link.active:hover {
    transform: translateY(0);
}
nav .nav-link:hover:after {
    transform: scaleX(1)
}
nav .nav-link.active:after {
    border-bottom: solid 1px whitesmoke;
    transform: scaleX(1);
}

/* General content style */
.content {
    padding: 60px 30px;
    border-radius: 50px 15px;
    width: 60vw;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 300ms ease-in-out;
    left: calc(50%);
    top: 50%;
}

/* Home content style */
.content.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: calc(50% - var(--X-transform-content));
}

.content.home h2 {
    font-size: 1.3em;
    font-family: 'Ms Madi', fantasy;
    font-style: italic;
    margin-bottom: 40px;;
    color: white;
    font-size: 2.2em;
}

.content.home p {
    color: white;
}

/* Menu content style */
.content.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.menu .pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.content.menu h3 {
    color: white;
    font-size: 2em;
}

.content.menu p {
    color: white;
    text-align: center;
}

/* Contact content style */
#map {
    height: 300px;
    width: 300px;
}